@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: black;
  background-color: #fafafa;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media (max-width: 639px) {
  .bg-hero-mobile {
    background-image: url("../src/assets/mobileHeroImg.png");
  }
  .bg-sub-mobile {
    background-image: url("../src/assets/subBack.png");
  }
}

@media (min-width: 640px) {
  .bg-hero-desktop {
    background-image: url("../src/assets/heroimg.jpeg");
  }
}

.serviceBg {
  position: relative;
  overflow: hidden;
}

.serviceBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../src/assets/shape.svg");
  background-position-y: bottom 32px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%) brightness(0%);
  opacity: 0.1;
  z-index: 0;
}

/* NAVIGATION */
body.menu-open {
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Maintain height */
}
.header {
  display: flex;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  height: 8.5rem;
  padding: 0 4.8rem;
  background-color: #fafafa;
}

.menu-icon {
  display: none;
  align-self: center;
  cursor: pointer;
  font-size: 3.4rem;
  height: 3rem;
}

.logo-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.nav-list {
  list-style: none;
}

.logo {
  margin-right: 1.4rem;
  height: 2.2rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  white-space: nowrap;
  z-index: 999;
}

.logo {
  color: var(--BLACK, #000);
  letter-spacing: 3px;
  font: 700 16px/30px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
  text-decoration: none;
}

.text-logo {
  color: #f33a6a;
  font-weight: 700;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  transition: all 0.4s;
  position: relative;
  padding-bottom: 4px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #242424;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease;
}

.nav-link:hover::before,
.nav-link:active::before,
.nav-link:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.2rem 3.8rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: #010202;
  color: aliceblue;
  transition: 0.4s all;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0px 4px 8.7px #00000040, 0px 4px 4px #00000040;
  background-color: #feffff;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    font-size: 28px;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 7rem;
    padding: 0 2.8rem;
    z-index: 1;
  }

  .navigation {
    position: absolute;
    top: 68px;
    right: -250px; /* Adjusted for smoother transition */
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    width: 250px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    margin-bottom: 1rem;
    padding: 2.4rem 2rem;
    border: 0.5px solid transparent;
    z-index: 1000;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease; /* Smooth transition */
  }

  .navigation.active {
    right: 0; /* Show menu */
  }

  .nav-link {
    display: block;
    width: 100%;
    border-radius: 12px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
  }

  .nav-list {
    padding-bottom: 1.8rem;
  }

  .nav-link::before {
    display: none;
    transition: none;
  }

  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    background-color: #fff;
    width: 100%;
  }
}

footer {
  position: relative;
  z-index: 20;
  padding-top: 2rem;
}
.custom-shape-divider-top-1728395753 {
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1728395753 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 500px;
}

@media (max-width: 639px) {
  .custom-shape-divider-top-1728395753 {
    top: 68px;
    left: 0;
  }
  .custom-shape-divider-top-1728395753 svg {
    height: 400px;
    width: calc(163% + 1.3px);
  }
}

.custom-shape-divider-top-1728395753 .shape-fill {
  fill: #e5e5e5;
}

/* GetInTouch Section */
.getIntouch-section {
  background-image: url("../src/assets/getintouch.jpg");
  background-size: cover;
  background-position: center;
}

.getInTouch-btn:hover,
.getInTouch-btn:active {
  box-shadow: inset 0px 4px 8.7px #00000040, 0px 4px 4px #00000040;
  background-color: #e6e6e6;
  color: #000;
}

.s-bg {
  background: url("../src/assets/S.png") center no-repeat;
  width: 1342.38px;
  height: 1490.68px;
  top: 495.61px;
  left: -278.24px;
  gap: 0px;
  opacity: 0px;
  angle: 46.56 deg;
}
.page-wrapper {
  background-image: url("../src/assets/getintouch.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

header.transparent-bg {
  background-color: transparent;
}
